@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:300,400);
.clearfix {
  zoom: 1; }
  .clearfix:before, .clearfix:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden; }
  .clearfix:after {
    clear: both; }

.teaser-a {
  display: block;
  text-align: left;
  background: #333; }

.teaser-a .body {
  display: block;
  height: 220px;
  margin: 0 15px 0px;
  padding: 15px 0 40px;
  position: relative; }

.teaser-a header {
  line-height: 1.15;
  font-size: 24px;
  font-family: arial,sans-serif;
  text-transform: uppercase;
  color: #ccc;
  margin: 0 0 15px;
  color: #fff; }

.teaser-a figure {
  width: 100%;
  height: 109px;
  background: #aaa; }

.teaser-a .bth-v1 {
  position: absolute;
  width: 100%;
  bottom: 15px;
  left: 0; }

.ra-top-menu {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  font-family: 'Roboto Condensed', arial, sans-serif;
  font-weight: 300;
  color: #eee;
  font-size: 16px;
  text-transform: uppercase;
  padding: 12px 10px;
  box-sizing: border-box;
  z-index: 10000; }
  .ra-top-menu div {
    float: left; }
  .ra-top-menu .ra-behavior {
    float: left; }
  .ra-top-menu .ra-layouts {
    float: right; }
    .ra-top-menu .ra-layouts .ra-btn {
      width: 52px; }
    .ra-top-menu .ra-layouts span {
      display: block;
      height: 16px;
      background: #999;
      float: left;
      box-sizing: border-box; }
      .ra-top-menu .ra-layouts span ~ span {
        border-left: 2px solid #2a2a2a; }
    .ra-top-menu .ra-layouts .-ra-l-100 {
      width: 100%; }
    .ra-top-menu .ra-layouts .-ra-l-66 {
      width: 66.66667%; }
    .ra-top-menu .ra-layouts .-ra-l-50 {
      width: 50%; }
    .ra-top-menu .ra-layouts .-ra-l-33 {
      width: 33.33333%; }
    .ra-top-menu .ra-layouts .-ra-l-25 {
      width: 25%; }
    .ra-top-menu .ra-layouts .-ra-l-20 {
      width: 20%; }
    .ra-top-menu .ra-layouts .-ra-l-5 {
      width: 50%; }
  .ra-top-menu .ra-btn,
  .ra-top-menu .ra-behavior-header {
    color: #fff;
    text-decoration: none;
    background: #2b2b2b;
    display: block;
    text-align: center;
    line-height: 1;
    padding: 9px 12px 8px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.24);
    font-family: 'Roboto Condensed', arial, sans-serif;
    font-size: 16px; }
  .ra-top-menu .ra-btn {
    cursor: pointer;
    color: #aaa; }
    .ra-top-menu .ra-btn:hover {
      background: #000;
      color: #ddd; }
    .ra-top-menu .ra-btn.-ra-active {
      background: #00B16A;
      color: #fff; }
  .ra-top-menu .ra-behavior-header {
    color: #1a1a1a;
    background: #fff; }

.ra-buttons .-ra-ani-1,
.ra-buttons .-ra-ani-2,
.ra-buttons .-ra-ani-3,
.ra-buttons .-ra-ani-4,
.ra-buttons .-ra-ani-5 {
  -webkit-transform: translateY(120px);
      -ms-transform: translateY(120px);
          transform: translateY(120px); }

.ra-top-menu .-ra-ani-1,
.ra-top-menu .-ra-ani-2,
.ra-top-menu .-ra-ani-3,
.ra-top-menu .-ra-ani-4,
.ra-top-menu .-ra-ani-5,
.ra-top-menu .-ra-ani-6,
.ra-top-menu .-ra-ani-7,
.ra-top-menu .-ra-ani-8 {
  -webkit-transform: translateY(-120px);
      -ms-transform: translateY(-120px);
          transform: translateY(-120px); }

.-ra-ani-1 {
  /* FF3.7+ */
  /* Opera 10.5 */
  -webkit-transition: -webkit-transform 1s ease 250ms;
  /* Saf3.2+, Chrome */
  transition: transform 1s ease 250ms; }

.-ra-ani-2 {
  /* FF3.7+ */
  /* Opera 10.5 */
  -webkit-transition: -webkit-transform 1s ease 500ms;
  /* Saf3.2+, Chrome */
  transition: transform 1s ease 500ms; }

.-ra-ani-3 {
  /* FF3.7+ */
  /* Opera 10.5 */
  -webkit-transition: -webkit-transform 1s ease 750ms;
  /* Saf3.2+, Chrome */
  transition: transform 1s ease 750ms; }

.-ra-ani-4 {
  /* FF3.7+ */
  /* Opera 10.5 */
  -webkit-transition: -webkit-transform 1s ease 1000ms;
  /* Saf3.2+, Chrome */
  transition: transform 1s ease 1000ms; }

.-ra-ani-5 {
  /* FF3.7+ */
  /* Opera 10.5 */
  -webkit-transition: -webkit-transform 1s ease 1250ms;
  /* Saf3.2+, Chrome */
  transition: transform 1s ease 1250ms; }

.-ra-ani-6 {
  /* FF3.7+ */
  /* Opera 10.5 */
  -webkit-transition: -webkit-transform 1s ease 1500ms;
  /* Saf3.2+, Chrome */
  transition: transform 1s ease 1500ms; }

.-ra-ani-7 {
  /* FF3.7+ */
  /* Opera 10.5 */
  -webkit-transition: -webkit-transform 1s ease 1750ms;
  /* Saf3.2+, Chrome */
  transition: transform 1s ease 1750ms; }

.-ra-ani-8 {
  /* FF3.7+ */
  /* Opera 10.5 */
  -webkit-transition: -webkit-transform 1s ease 2000ms;
  /* Saf3.2+, Chrome */
  transition: transform 1s ease 2000ms; }

.rapid-active .ra-btn-holder-right {
  float: right; }

.rapid-active .ra-buttons .-ra-ani-1,
.rapid-active .ra-buttons .-ra-ani-2,
.rapid-active .ra-buttons .-ra-ani-3,
.rapid-active .ra-buttons .-ra-ani-4,
.rapid-active .ra-buttons .-ra-ani-5,
.rapid-active .ra-buttons .-ra-ani-6,
.rapid-active .ra-buttons .-ra-ani-7,
.rapid-active .ra-buttons .-ra-ani-8 {
  -webkit-transform: translateY(0px);
      -ms-transform: translateY(0px);
          transform: translateY(0px); }

body.ra-edit-mode .ra-buttons .ra-rapid-btns {
  -webkit-transform: translateY(0px);
      -ms-transform: translateY(0px);
          transform: translateY(0px);
  /* FF3.7+ */
  /* Opera 10.5 */
  -webkit-transition: -webkit-transform 1s ease 750ms;
  /* Saf3.2+, Chrome */
  transition: transform 1s ease 750ms; }

body.ra-edit-mode .ra-buttons .ra-brand {
  -webkit-transform: translateY(120px);
      -ms-transform: translateY(120px);
          transform: translateY(120px);
  /* FF3.7+ */
  /* Opera 10.5 */
  -webkit-transition: -webkit-transform 0.75s ease 250ms;
  /* Saf3.2+, Chrome */
  transition: transform 0.75s ease 250ms; }

.ra-edit-mode .ra-top-menu .-ra-ani-1,
.ra-edit-mode .ra-top-menu .-ra-ani-2,
.ra-edit-mode .ra-top-menu .-ra-ani-3,
.ra-edit-mode .ra-top-menu .-ra-ani-4,
.ra-edit-mode .ra-top-menu .-ra-ani-5,
.ra-edit-mode .ra-top-menu .-ra-ani-6,
.ra-edit-mode .ra-top-menu .-ra-ani-7,
.ra-edit-mode .ra-top-menu .-ra-ani-8 {
  -webkit-transform: translateY(0px);
      -ms-transform: translateY(0px);
          transform: translateY(0px); }

body .ra-buttons {
  position: fixed;
  font-family: 'Roboto Condensed', arial, sans-serif;
  font-weight: 300;
  z-index: 10000;
  padding: 0;
  bottom: 0;
  left: 0;
  width: 100%; }
  body .ra-buttons a {
    border-radius: 50%;
    color: #fff;
    text-decoration: none;
    background: #2b2b2b;
    height: 72px;
    width: 72px;
    display: block;
    text-align: center;
    line-height: 72px;
    margin-right: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
    font-family: 'Roboto Condensed', arial, sans-serif;
    font-size: 16px;
    /*&.ra-btn-edit{
			
			background:#eee;
			color:#1a1a1a;
			text-shadow: -1px 1px rgba(0,0,0,.10);
			&:hover{
				background:#ddd;
			}
		} */ }
    body .ra-buttons a.-ra-active {
      background: #00B16A; }
      body .ra-buttons a.-ra-active:hover {
        background: #00B16A; }
    body .ra-buttons a.ra-btn-otb {
      overflow: hidden;
      background: #eee;
      color: #1a1a1a;
      text-shadow: -1px 1px rgba(0, 0, 0, 0.1);
      /* FF3.7+ */
      /* Opera 10.5 */
      -webkit-transition: all 675ms ease 250ms;
      /* Saf3.2+, Chrome */
      transition: all 675ms ease 250ms;
      cursor: default; }
      body .ra-buttons a.ra-btn-otb:hover {
        background: #eee; }
      body .ra-buttons a.ra-btn-otb div {
        display: block;
        /* FF3.7+ */
        /* Opera 10.5 */
        -webkit-transition: -webkit-transform 675ms ease 250ms;
        /* Saf3.2+, Chrome */
        transition: transform 675ms ease 250ms;
        -webkit-transform: translateY(0px);
            -ms-transform: translateY(0px);
                transform: translateY(0px); }
    body .ra-buttons a:hover {
      background: #000; }
  body .ra-buttons.-ra-show-load .ra-btn-otb {
    background: #2b2b2b;
    color: #fff; }
    body .ra-buttons.-ra-show-load .ra-btn-otb:hover {
      color: #fff;
      background: #000;
      cursor: pointer; }
    body .ra-buttons.-ra-show-load .ra-btn-otb div {
      -webkit-transform: translateY(-72px);
          -ms-transform: translateY(-72px);
              transform: translateY(-72px); }
  body .ra-buttons > div {
    float: left;
    padding: 0 20px 20px; }
    body .ra-buttons > div a {
      float: left; }
  body .ra-buttons input[type=text] {
    color: #332323 !important;
    line-height: 72px !important;
    display: inline-block !important;
    font-style: normal !important;
    font-size: 36px;
    letter-spacing: -1px;
    width: auto !important;
    height: auto !important;
    margin: 0 !important;
    border: none !important;
    background: transparent !important;
    font-family: "Roboto Condensed", arial, sans-serif !important;
    outline: none !important;
    /* FF3.7+ */
    /* Opera 10.5 */
    -webkit-transition: all 675ms ease 250ms;
    /* Saf3.2+, Chrome */
    transition: all 675ms ease 250ms; }
    body .ra-buttons input[type=text]::-webkit-input-placeholder {
      color: #332323;
      font-style: normal; }
    body .ra-buttons input[type=text]:-moz-placeholder {
      /* Firefox 18- */
      color: #332323;
      font-style: normal; }
    body .ra-buttons input[type=text]::-moz-placeholder {
      /* Firefox 19+ */
      color: #332323;
      font-style: normal; }
    body .ra-buttons input[type=text]:-ms-input-placeholder {
      color: #332323;
      font-style: normal; }
  body .ra-buttons .ra-rapid-btns {
    /* FF3.7+ */
    /* Opera 10.5 */
    -webkit-transition: -webkit-transform 1s ease 750ms;
    /* Saf3.2+, Chrome */
    transition: transform 1s ease 750ms;
    -webkit-transform: translateY(120px);
        -ms-transform: translateY(120px);
            transform: translateY(120px);
    margin-left: -253px; }
  body .ra-buttons .ra-brand {
    margin-top: 10px;
    -webkit-transform: translateY(120px);
        -ms-transform: translateY(120px);
            transform: translateY(120px); }
  body .ra-buttons .ra-btn-small {
    float: left;
    height: 72px;
    width: 37px;
    position: relative; }
    body .ra-buttons .ra-btn-small a {
      overflow: hidden;
      background: #eee;
      color: #1a1a1a;
      position: absolute;
      height: 20px;
      width: 20px;
      box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.4); }
      body .ra-buttons .ra-btn-small a:hover {
        background: #1a1a1a; }
      body .ra-buttons .ra-btn-small a.-ra-active {
        background: #00B16A; }
        body .ra-buttons .ra-btn-small a.-ra-active:hover {
          background: #00B16A; }
    body .ra-buttons .ra-btn-small .ra-btn-library {
      top: 10px; }
    body .ra-buttons .ra-btn-small .ra-btn-selector {
      bottom: 10px; }

.ra-placeholder,
.ra-ghost-row {
  background: #eee;
  text-transform: uppercase;
  margin-bottom: 2px;
  padding: 20px;
  text-align: center;
  color: #bbb;
  border: 1px dashed #aaa;
  font-family: 'Roboto Condensed', arial, sans-serif;
  font-weight: 300;
  float: left;
  width: 100%;
  box-sizing: border-box; }
  .ra-placeholder.test,
  .ra-ghost-row.test {
    background: #1a1a1a;
    border: none; }
  .ra-placeholder .ra-body,
  .ra-ghost-row .ra-body {
    display: table;
    width: 100%;
    height: 100%; }
  .ra-placeholder .ra-header,
  .ra-ghost-row .ra-header {
    display: table-cell;
    vertical-align: middle; }
  .ra-placeholder.-ra-size-s,
  .ra-ghost-row.-ra-size-s {
    height: 100px; }
  .ra-placeholder.-ra-size-m,
  .ra-ghost-row.-ra-size-m {
    height: 130px; }
  .ra-placeholder.-ra-size-l,
  .ra-ghost-row.-ra-size-l {
    height: 170px; }
  .ra-edit-mode .ra-placeholder,
  .ra-edit-mode .ra-ghost-row {
    color: #232323;
    background: #ddd; }
    .ra-edit-mode .ra-placeholder.test,
    .ra-edit-mode .ra-ghost-row.test {
      background: #1a1a1a;
      border: none;
      color: #bbb; }
